html, body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    text-transform: uppercase;
    font-family: 'Cousine', monospace;
    letter-spacing: 1em;
    font-size: 58px;
    color: darkslategrey;
    height: 90%;
    width: 100%;
}

#clock {
    margin-top: 130px;
    }

p {
    text-align: center;
}

#it, #is {
    color: white;
}

.svg-inline--fa {
    height: 44px;
    margin-right: 48px;
}
    
.svg-inline--fa > path:nth-child(1) {
    fill: darkslategrey;
}

#Capa_1 {
    fill: darkslategrey;
    height: 50px;
    margin-right: 42px;
}